<script>
    let windowInnerHeight=window.innerHeight
    let metaEl=document.querySelector('#viewportMeta')
    metaEl.setAttribute('name','viewport')
    metaEl.setAttribute('content',`height=${windowInnerHeight},width=device-width,initial-scale=1.0,user-scalable=no`)
    window.addEventListener('resize',()=>{
        if((window.innerHeight<windowInnerHeight*.9)&&(window.innerHeight>windowInnerHeight*.8)){
            windowInnerHeight=window.innerHeight
            metaEl.setAttribute('content',`height=${windowInnerHeight},width=device-width,initial-scale=1.0,user-scalable=no`)
        }
    })
    const themes=['light','dark']
    function theme(i) {
        let theme=localStorage.getItem('theme')
        document.body.classList.remove(theme)
        theme=themes[(themes.indexOf(theme||'light')+i) % themes.length]
        localStorage.setItem('theme',theme)
        document.body.classList.add(theme)
    }
    let snapObserver = null
    function jump(url) {
        snapObserver.disconnect()
        document.activeElement.blur()
        document.querySelector('footer').style.opacity=0
        setTimeout(()=>document.querySelector('main').style.opacity=0,200)
        setTimeout(()=>location.href=url,400)
    }
    function snap(e) {
        snapObserver = new IntersectionObserver(([{intersectionRatio:i}])=>window.autoscrolling=(window.autoscrolling === false) ? (i > 0.01)&&(i < .99)&&(scrollBy({top:Math.sign(i - .5) * -e.scrollHeight*.99,behavior:'smooth'}),true) :(window.autoscrolling === true) ? false :((i > 0.01)&&(i < .99)),{threshold:[0.01,0.99]})
        snapObserver.observe(e)
    }
    function pageshow(){
        setTimeout(()=>{
            document.querySelector('main').style.opacity=1
            setTimeout(()=>{
                document.querySelector('footer').style.opacity=1
                snap(document.querySelector('footer'))
            },200)
        },100)
    }
    function smsrcoll(h){
        scrollTo({top:h,behavior:'smooth'})
    }
    window.addEventListener('pageshow',pageshow);
    {%- if page.markdown -%}

    window.StylePropertyMap&&document.addEventListener('DOMContentLoaded',()=>{
        let nav=document.querySelector('nav'),
            fabs=document.querySelector('.fabs'),
            h=nav.offsetHeight,
            pre=document.documentElement.scrollTop,
            nhidden = new CSSTransformValue([new CSSTranslate(CSS.px(0),CSS.percent(-100))]),
            fhidden = new CSSTransformValue([new CSSTranslate(CSS.percent(100),CSS.px(0))]),
            show = new CSSTransformValue([new CSSTranslate(CSS.px(0),CSS.px(0))]),
            showing = true
        function autoShowControls() {
            let cur=document.documentElement.scrollTop
            if(cur>pre+h){
                pre=cur
                if(showing){
                    nav.attributeStyleMap.set('transform',nhidden)
                    fabs.attributeStyleMap.set('transform',fhidden)
                    showing = false
                }
            }else if(cur+32<pre){
                pre=cur
                if(showing) return
                nav.attributeStyleMap.set('transform',show)
                fabs.attributeStyleMap.set('transform',show)
                showing = true
            }
        }
        window.addEventListener('scroll',()=>requestAnimationFrame(autoShowControls));
    },{once:true})
    document.addEventListener('keydown',e=>e.keyCode==122&&(location.href=(((location.hash.length)&&(location.hash!='#focus'))?location.href.slice(0,-location.hash.length):location.href)+'#focus'),{passive:true})
    document.addEventListener('keydown',e=>e.keyCode==27&&(location.hash=='#focus')&&(location.href=location.href.slice(0,-location.hash.length)+'#'),{passive:true})
    {%- endif -%}
</script>