<script>
    let windowInnerHeight=window.innerHeight
    let metaEl=document.querySelector('#viewportMeta')
    metaEl.setAttribute('name','viewport')
    metaEl.setAttribute('content',`height=${windowInnerHeight},width=device-width,initial-scale=1.0,user-scalable=no`)
    window.addEventListener('resize',()=>{
        if(window.innerHeight>windowInnerHeight){
            windowInnerHeight=window.innerHeight
            metaEl.setAttribute('content',`height=${windowInnerHeight},width=device-width,initial-scale=1.0,user-scalable=no`)
        }
    })
    const themes=['light','dark']
    function theme(i) {
        let theme=localStorage.getItem('theme')
        document.body.classList.remove(theme)
        theme=themes[(themes.indexOf(theme||'light')+i) % themes.length]
        localStorage.setItem('theme',theme)
        document.body.classList.add(theme)
    }
    let snapObserver = null
    function jump(url) {
        snapObserver.disconnect()
        document.activeElement.blur()
        document.querySelector('footer').style.opacity=0
        setTimeout(()=>document.querySelector('main').style.opacity=0,200)
        setTimeout(()=>location.href=url,600)
    }
    function snap(e) {
        snapObserver = new IntersectionObserver(([{intersectionRatio:i}])=>window.autoscrolling=(window.autoscrolling === false) ? (i > 0.01)&&(i < .99)&&(scrollBy({top:Math.sign(i - .5) * -e.scrollHeight,behavior:'smooth'}),true) :(window.autoscrolling === true) ? false :((i > 0.01)&&(i < .99)),{threshold:[0.01,0.99]})
        snapObserver.observe(e)
    }
    function pageshow(){
        setTimeout(()=>{document.querySelector('main').style.opacity=1},50)
        setTimeout(()=>{document.querySelector('footer').style.opacity=1},250)
        snap(document.querySelector('footer'))
    }
    function smsrcoll(h){
        scrollTo({top:h,behavior:"smooth"})
    }
    window.addEventListener('pageshow',pageshow)
</script>