<script>
    let windowInnerHeight=window.innerHeight
    let metaEl=document.querySelector('#viewportMeta')
    metaEl.setAttribute('name','viewport')
    metaEl.setAttribute('content',`height=${windowInnerHeight},width=device-width,initial-scale=1.0,user-scalable=no`)
    window.addEventListener('resize',()=>{
        if(window.innerHeight>windowInnerHeight){
            windowInnerHeight=window.innerHeight
            metaEl.setAttribute('content',`height=${windowInnerHeight},width=device-width,initial-scale=1.0,user-scalable=no`)
        }
    })
    const themes=['light','dark']
    function theme(i) {
        let theme=localStorage.getItem('theme')
        document.body.classList.remove(theme)
        theme=themes[(themes.indexOf(theme||'light')+i) % themes.length]
        localStorage.setItem('theme',theme)
        document.body.classList.add(theme)
    }
    history.scrollRestoration = 'manual'
    function jump(url) {
        history.replaceState({top:document.documentElement.scrollTop},document.title)
        document.activeElement.blur()
        setTimeout(()=>document.querySelector('main').style.opacity=0,200)
        setTimeout(()=>location.href=url,400)
    }
    function pageshow(){
        setTimeout(()=>scrollTo({top:history.state&&history.state.top||0}),76)
        setTimeout(()=>{document.querySelector('main').style.opacity=1},100)
    }
    function smsrcoll(h){
        scrollTo({top:h,behavior:"smooth"})
    }
    window.addEventListener('pageshow',pageshow)
</script>